<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class=>"form-signin"}) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">SignUp</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,:class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control" %>
  </div>
   <label> Role Type:</label>
  <%= select_tag "role_type", options_for_select(['Advisor','Director'].map{|o| [o.humanize,o] }), :class=>"form-control" %><br>
  <div id="college_box" style="display:none">
  <label>Colleges:</label><br><%= collection_select(:college, :college_id, College.all, :id, :name,{:include_blank => "Select College"},:class=>"form-control") %>
  <div id="dept_list">
    <label>Departments:</label><br><%= collection_select(:department, :department_id, [], :id, :name,{:include_blank => "Select College First"},:class=>"form-control") %>
  </div> 
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up",:class=>"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>

<script>
$( "#role_type" ).change(function() {
  var role_check = $(this).val();
  if(role_check=='Director'){$('#college_box').show()}
  else{$('#college_box').hide()}
});

$( "#college_college_id" ).change(function() {
var college = $(this).val();
$.ajax({
        url: '/get_departments',
        data: { college_id: college}
    }); 
});
</script>
