<br><%= form_for(@report, :html => {:class=>"form-horizontal table-bordered"}) do |f| %><br>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <span class="col-md-2 control-label">Metadata</span>
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-1 control-label">Colleges</label>
          <div class="col-md-2">
            <%= f.collection_select :college_id, College.all, :id, :name, {:prompt => 'Select', :selected => @report.college_id},:class=>'form-control' %>
          </div>
    <label class="col-md-2 control-label">Departments</label>
    <div class="col-md-3">
      <% if action_name == 'edit' %>
        <%= f.collection_select :department_id, @departments, :id, :name, {:prompt => 'Select College First', :selected => @report.department_id},:class=>'form-control' %>
      <% else %>
        <%= f.collection_select :department_id, [], :id, :name, {:prompt => 'Please Select College First', :selected => @report.department_id},:class=>'form-control' %>
      <% end %>
    </div>
     <label class="col-md-1 control-label">Courses</label>
    <div class="col-md-3">
      <% if action_name == 'edit' %>
        <% if !@report.course_id.nil? %>
          <%= f.collection_select :course_id, @courses, :id, :name, {:selected => @report.course_id},:class=>'form-control' %>
        <%else %>
          <%= f.collection_select :course_id, [], :id, :name, {:prompt => 'Select Department First'},:class=>'form-control' %>
        <%end %>
      <% else %>
        <%= f.collection_select :course_id, [], :id, :name, {:prompt => 'Select Department First'},:class=>'form-control' %>
      <% end %>
    </div>
          </div>
      </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Assessment Period</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Start</label>
        <div class="col-md-3">
          <%= f.text_field :assessment_start_period, :id => 'start_date',:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">End</label>
        <div class="col-md-3">
          <%= f.text_field :assessment_end_period, :id => 'end_date',:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">UNM</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Learning Goals</label>
        <div class="col-md-3">
          <%= f.text_field :unm_learning_goals,:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">Strategic Plan</label>
        <div class="col-md-3">
          <%= f.text_field :unm_strategic_plan,:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Assessment</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Measures</label>
        <div class="col-md-3">
          <%= f.text_field :assessment_measures,:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">Benchmark</label>
        <div class="col-md-3">
          <%= f.text_field :performance_benchmark,:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Data</span>
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Analysis</label>
        <div class="col-md-3">
          <%= f.text_field :data_analysis,:class=>'form-control' %>  
        </div>
        <label class="col-md-2 control-label">Results</label>
        <div class="col-md-3">
          <%= f.text_field :data_results,:class=>'form-control' %> 
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <span class="col-md-2 control-label">Learning Outcome</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.text_area :student_learning_utcomes,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="col-md-2 control-label">Recommendations</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.text_area :recommendations,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <span class="col-md-2 control-label">Meeting Details</span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.text_area :met_details,:class=>'form-control' %>  
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <span class="col-md-2 control-label"></span>
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-8">
          <%= f.submit 'Save', :class=>'btn btn-primary' %>  
          <%= link_to 'Submit', submit_report_report_path(:id=>@report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary' if @report.status=='Completed' && user_role == 'Advisor' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $("#start_date").datepicker();
  $("#end_date").datepicker();

$( "#report_college_id" ).change(function() {
var college = $(this).val();
$.ajax({
        url: '/get_departments_list',
        data: { college_id: college}
    }); 
});

$( "#report_department_id" ).change(function() {
var department = $(this).val();
$.ajax({
        url: '/get_courses_list',
        data: { department_id: department}
    }); 
});

</script>
