<br>
<p id="notice"><%= notice %></p>

<%= link_to 'Create New Report', new_report_path, :class=>'btn btn-primary' if user_role == 'Advisor'%>
<% if @reports.blank? %>
 <%if user_role =="Advisor"%>
  <center><h4>You have not yet created any Reports.</h4></center>
 <% elsif user_role =="Director" %>
  <center><h4>You don't have any Reports.</h4></center>
 <%else %>
  <center><h4>No reports were created.</h4></center>
 <%end%>

<% else %>
<br><br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% if ['Director','Admin'].include?(user_role) %>
        <th>User</th>
      <%else%>
        <th>College</th>
        <th>Department</th>
      <%end%>
      <th>Course</th>
      <th>Start period</th>
      <th>End period</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        
        <% if ['Director','Admin'].include?(user_role) %>
          <td><%= User.where('id=?',report.user_id).first.email %></td>
        <% else %>
          <td><%= report.college_id.present? ? report.college.try(:name) : '--' %></td>
          <td><%= report.department_id.present? ? report.department.try(:name) : '--' %></td>
        <% end %>
        <td><%= report.course_id.present? ? report.course.try(:name) : '--' %></td>
        <td><%= report.assessment_start_period %></td>
        <td><%= report.assessment_end_period %></td>
        <td><%= report.status %></td>
        <td><%= link_to 'View', report, :class=>'btn btn-primary btn-xs' %></td>
        <% if report.status != 'Submitted'%>
          <td><%= link_to 'Edit', edit_report_path(report), :class=>'btn btn-primary btn-xs' %></td>
        <% end %>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-xs' %></td>
        <% if report.status == 'Completed' %>
          <td>
            <%= link_to 'Submit', submit_report_report_path(:id=>report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary btn-xs' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>


