<br>
<ceter>
<div>
  <div class="form-group">
      
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-1 control-label">College</label>
          <div class="col-md-2">
            <%= @report.college_id ? @report.college.try(:name) : '---'%>
          </div>
    <label class="col-md-2 control-label">Department</label>
    <div class="col-md-3">
     <%= @report.department_id ? @report.department.try(:name) : '---'%>
    </div>
     <label class="col-md-1 control-label">Course</label>
    <div class="col-md-3">
      <%= @report.course_id ? @report.course.try(:name) : '---'%>
    </div>
          </div>
      </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Start</label>
        <div class="col-md-3">
          <%= @report.assessment_start_period %>  
        </div>
        <label class="col-md-2 control-label">End</label>
        <div class="col-md-3">
          <%= @report.assessment_end_period %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Learning Goals</label>
        <div class="col-md-3">
          <%= @report.unm_learning_goals %>  
        </div>
        <label class="col-md-2 control-label">Strategic Plan</label>
        <div class="col-md-3">
          <%= @report.unm_strategic_plan %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Measures</label>
        <div class="col-md-3">
          <%= @report.assessment_measures %>  
        </div>
        <label class="col-md-2 control-label">Benchmark</label>
        <div class="col-md-3">
          <%= @report.performance_benchmark %> 
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Analysis</label>
        <div class="col-md-3">
          <%= @report.data_analysis %>  
        </div>
        <label class="col-md-2 control-label">Results</label>
        <div class="col-md-3">
          <%= @report.data_results %> 
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Student Learning Outcome</label>
        <div class="col-md-8">
          <%= @report.student_learning_utcomes %>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Recommendations</label>
        <div class="col-md-8">
          <%= @report.recommendations %>  
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Meeting Details</label>
        <div class="col-md-8">
          <%= @report.met_details %>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-8" style="font-weight:bolder;color:green">
          <%= @report.status %>  
        </div>
      </div>
    </div>
  </div>
 <div class="form-group">
    <div class="col-md-8">
      <div class="form-group row">
  <% if @report.status == 'Completed' && user_role='Advisor' %>
          <td>
            <%= link_to 'Submit', submit_report_report_path(:id=>@report.id), data: { confirm: 'Are you sure want to submit to director?' }, :class=>'btn btn-primary btn-xs' %>
          </td>
        <% end %>
     </div>
      </div>
    </div>
</div>

 </center>
